@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

.getStartedWrapper{
    width: 100%;
    background-color: black;
    /* background-color: rgb(10, 66, 40); */
    /* background-image: url('../../assets/Screenshot\ 2021-04-04\ 163128.png'); */
    background-size: cover;
    /* filter: blur(3px); */
    font-family: 'Sacramento', cursive;
}

.mainWrapper{
    width: 60%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: rgb(122, 167, 143);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* z-index: -1; */
}

.getStartedText{
    width: 50%;
    margin: 0;
    text-align: center;
    padding-top: 10%;
}

.getStartedImage{
    width: 50%;
    background-image: url('https://cdn.wallpapersafari.com/34/52/6XrCo9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
}

.centerImage{
    width: 70%;
    height: auto;
    margin-top: 3%;
    margin-left: 15%;
}

/* .topImage{
    width: 10%;
    margin-left: 0px;
    margin-top: 0px
}
.bottomImage{
    width: 10%;
    margin-bottom: 0px;
    margin-right: 0px;
} */

.getStartedbtn{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 85%;
    left: 22%;
    padding: 26px;
    background-color: rgb(60, 146, 118);
    border-radius: 50px;
    box-shadow: 0 0 70px 0 #5be44f;
    outline: none;
    border: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.getStartedbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color:rgb(65, 120, 124);
}

.blur {filter: blur(4px);}