@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Work+Sans:wght@100&family=Zen+Dots&display=swap');


.photo1{
    --i:1;
    
}
.photo2{
    --i:2;
}
.photo3{
    --i:3;
}
.photo4{
    --i:4;
}
.photo5{
    --i:5;
}
.photo6{
    --i:6;
}
.photo7{
    --i:7;
}
.photo8{
    --i:8;
}



.projectPage{
    position: relative;
    margin-top: 5%;
    min-height: 240vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}



/* .projectsWrapper{
    position: absolute;
    top: 20%;
    right:10%;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    background-color: rgba(0, 0, 0, 0.001);
}



@keyframes animate
{
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.projectsWrapper span{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(200px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004)
}



.projectsWrapper span::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1191cc, #4b2532);
}
.projectsWrapper span::before{
    content:'';
    background: linear-gradient(45deg, #1191cc, #4b2532);
    filter: blur(30px);
}




.projectsWrapper span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.projectsWrapper span img:hover{
    transform:scale(1.1);
    cursor: pointer;
} */

h1{
    font-size: 70px;
    position: absolute;
    top: 35%;
    margin: auto;
    color: #a9cdd3;
    color: rgb(161, 139, 173);
    font-family: "MG Glaho Drunk", sans-serif;
}


.particle{
    position: absolute;
    top: 0;
    left: 5%;
}

.projectBox{
    width:60%;
    margin: auto;
    bottom: 0px;
    height: 1000px;
    background: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.boxWrapper{
    /* width: 100%; */
    margin: auto;
    /* margin-top: 30px;
    max-height: 300px; */
    background: transparent;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box{
    position: relative;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    margin-left: 0px;
    background: #060c21;
    font-family: 'Orelega One', cursive;
}

.box .imgBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBox img{
    width: 100%;
    opacity: 0.1;
    transition: 0.5s;
    object-fit: cover;
}

.box:hover{
    height: 300px;
}
.box:hover .imgBox img{
    opacity: 1;
}

.box::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:before,
.box:after{
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after{
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after{
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.box .content{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    text-align: center;
}

.box:hover .content{
    opacity: 1;
    color: rgb(169, 216, 238);
}

.box .content h2 a{
    font-size: 20px;
    color: rgb(169, 216, 238);
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.box .content span{
    font-size: 14px;
    color: rgb(169, 216, 238);
    font-weight: 200;
    letter-spacing: 2px;
}