/* @import url('https://www.youtube.com/watch?v=FJ8ay4tWgFc'); */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.skills{
    width: 100%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.skillsPage{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 10%;
    background-color: transparent;
}

.skillsWrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
}

.skillsTextWrapper{
    position:absolute;
    top: 13%;
    right: 15%;
    color: rgb(182, 175, 189);
    font-weight: bolder;
    font-size: 3.2vw;
    font-family: 'RocknRoll One', sans-serif;
    font-family: "BPG Ucnobi", sans-serif;
}
.skillsTextWrapper ul li{
    margin-left: 40px;
    margin-top: 10px;
}

.skillsTextWrapper ul::before{
    content: "<skills>";
    font-size: 20px;
    color: rgb(90, 65, 124);
    font-style: italic;
}
.skillsTextWrapper ul::after{
    content: "<skills/>";
    font-size: 20px;
    color: rgb(90, 65, 124);
    font-style: italic;
}



.skillsVideo{
    width: 796px;;
    height: 500px;
    position: absolute;
    background:transparent ;
}

.videoWrapper{
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: transparent;
}

.videoWrapper h2{
    position:absolute;
    height: 500px;
    top: 20px;
    left: 0;
    width: 796px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 180px;
    text-align: center;
    font-weight: 800;
    line-height: 0.85em;
    color: #fff;
    background: rgb(0, 0, 0);
    mix-blend-mode: multiply;
}

.video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.skillsIconsWrapper{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    bottom: 0;
    font-family: "BPG Ucnobi", sans-serif;
}

.icons{
    max-width: 20%;
    padding: 40px;
    text-align: center;
    color: rgb(114, 162, 206);
    line-height: 24px;
}

.icons h3{
    font-size: 1.3vw;
}

.icons p{
    font-size: 1vw;
    color: rgb(92, 149, 202);
}

@media only screen and (max-width: 1350px) {
    .skillsWrapper{
        height: 60vh;
    }
    .skillsPage{
        min-height: 80vh;
    }
    .skills{
        min-height: 80vh;
    }
}

@media only screen and (max-width: 1100px) {
    .skillsTextWrapper{
        right:5%;
        top: 16%;
    }
}
@media only screen and (max-width: 1000px) {
    .skillsTextWrapper{
        left:25%;
        top: 75%;
        font-size: 4vw;
    }
    .videoWrapper{
        left: 13%;
    }


    .skillsIconsWrapper{
        display: none;
    }

    .skillsPage{
        min-height: 90vh;
    }

}

@media only screen and (max-width: 920px) {
    .videoWrapper{
        left: 8%;
    }
}
@media only screen and (max-width: 800px) {
    .videoWrapper{
        left: 0;
    }
}
@media only screen and (max-width: 700px) {
    .videoWrapper{
        display: none;
    }

    .skillsVideo{
        display: none;
    }

    .skillsTextWrapper{
        left:25%;
        top: 15%;
        font-size: 5vw;
    }

    .skillsPage{
        min-height: 20vh;
    }
    .skills{
        min-height: 20vh;
    }
}

