

.layout{
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    background-color: #0e1212;
}


header{
    z-index: 1;
    margin: 0;
    height: 6vh;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

header h1{
    font-size: 15px;
    font-family: "MG Glaho Drunk", sans-serif;
    color: #ccc;
}



.headerItems{
    position: absolute;
    top: 5;
    right: 0;
    display: flex;
    flex-direction: row;
}

.headerItem{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    color: #1c0522;
    font-weight: 700;
    background: linear-gradient(45deg, rgb(224, 207, 223), rgb(121, 109, 150));
    border-radius: 16px;
}

