/* .home{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 13%;
    left: 10%;
    background-color: #0e1212;
    text-align: center;
    line-height: 450%;
    display: flex;
    flex-direction: row;
}

.homeTextWrapper{
    width: 100%;
    margin-top: 0px;
    text-align: left;
    width: 50%;
    padding: 0 0 0 10%;
    position: absolute;
    top: 50%;
}

.leftItems{
    padding-left: 10%;
    padding-top: 0px;
}


.homeTextWrapper h1{
    font-size: 60px;
    font-family: "BPG Nino Mkhedruli", sans-serif;
    line-break: auto;
    color: #973ae4;
    font-weight:bolder;
}

.homeTextWrapper h2{
    font-size: 25px;
    font-family: "BPG Nino Mkhedruli", sans-serif;
    line-break: auto;
    color: #1bbeb6;
}

.imgWrapper{
    width: 50%;
    background-image: url('../../assets//brainstorm.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: bottom;
    background-position-x: right;
} */

/* 
.particleWrapper{
      width: 400px;
      height: 400px;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid #0e1212;
      margin-top: 10%;
      margin-left:50%;
}
.tsparticles-canvas-el{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #0e1212;
    margin-top: 0%;
    margin-left:50%;
    border-radius: 50%;
} */

*{
    scroll-behavior: smooth;
}
.home{
    min-height: 500vh;
    overflow: hidden;
    background: linear-gradient(#2b1055, #7597de);
}

.home section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.home section::before{
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.home section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#moon{
    mix-blend-mode: screen;
}

#text{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
    margin-top: 10%;
    margin-left: -20%;
}

#mountainsFront{
    z-index: 10;
}


#paragraph{
    color: rgb(205, 222, 224);
    font-size: 3.5vw;
    position: absolute;
    top: 50%;
    left: 40%;
}

#sec2{
    position: relative;
    background: #1c0522;
    min-height: 100vh;
    z-index: 10;
}
