@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Work+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Work+Sans:wght@100&family=Zen+Dots&display=swap');
.contactPage{
    position: relative;
    height: 120vh;
    width: 100%;
    background-color: silver;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rgb(243, 79, 112);
    margin-top: 5%;
}

.contactWrapper{
    width: 60%;
    margin-left: 0%;
    margin-bottom: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contactText{
    font-size: 40px;
    margin-top: 20%;
    font-weight: bold;
    color: crimson;
    font-family: 'Orelega One', cursive;
    font-family: "BPG Ucnobi", sans-serif;
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  }
   
  @keyframes blinking-cursor {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


.inputBox{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    font-family: 'Work Sans', sans-serif;
    font-family: "BPG Ucnobi", sans-serif;
}

.inputBox input{
    width: 50%;
    height: 5vh;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    outline: none;
    border: none;
    box-shadow: 1px 2px 4px crimson;
    color: crimson;
    padding: 5px;
    padding-left: 15px;
}
.inputBox textarea{
    width: 50%;
    height: 6vh;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    box-shadow: 1px 2px 4px crimson;
    border-radius: 8px;
    color: crimson;
    padding-top: 15px;
    padding-left: 15px;
}

.inputBox button{
    width: 20%;
    height: 5vh;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;
    box-shadow: 1px 2px 4px crimson;
    border-radius: 3px;
    margin-top: 10px;
    color: crimson;
}

.cupWrapper{
  position: absolute;
  bottom: 15%;
  right: 20%;

}

.cup{
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
}

.top{
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #f9f9f9, #d9d9d9);
  border-radius: 50%;
}

.circle{
  position: absolute;
  top: 5px;
  left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: linear-gradient(to left, #f9f9f9, #d9d9d9);
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.tea{
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#c57e65, #e28462);
  border-radius: 50%;
}

.handle{
  position: absolute;
  right: -70px;
  top: 40px;
  width: 160px;
  height: 180px;
  border: 25px solid #dcdcdc;
  border-left: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-radius: 50%;
  transform: rotate(45deg);
}

.plate{
  position: absolute;
  bottom: -50px;
  left: 140px;
  transform: translateX(-50%);
  width: 500px;
  height: 200px;
  background: linear-gradient(to right, #f9f9f9, #e7e7e7);
  border-radius: 50%;
  box-shadow: 0 35px 35px rgba(0, 0, 0, 0.2);
}


.vapour1{
  --i:1;
}
.vapour2{
  --i:2;
}
.vapour3{
  --i:3;
}
.vapour4{
  --i:4;
}
.vapour5{
  --i:5;
}
.vapour6{
  --i:6;
}
.vapour7{
  --i:7;
}
.vapour8{
  --i:8;
}
.vapour9{
  --i:9;
}
.vapour10{
  --i:10;
}

.vapour11{
  --i:11;
}
.vapour12{
  --i:12;
}
.vapour13{
  --i:13;
}
.vapour14{
  --i:14;
}
.vapour15{
  --i:15;
}
.vapour16{
  --i:16;
}
.vapour17{
  --i:17;
}
.vapour18{
  --i:18;
}
.vapour19{
  --i:19;
}
.vapour20{
  --i:20;
}

.vapour{
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapour span{
  position: relative;
  bottom: 50px;
  display: block;
  margin: 0 2px;
  min-width: 8px;
  height: 220px;
  background: #fff;
  border-radius: 50%;
  animation: animateCup 5s linear infinite;
  opacity: 0;
  filter: blur(8px);
  animation-delay: calc(var(--i) * -0.5s);
}

@keyframes animateCup {
  0%
  {
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15%{
    opacity: 1;
  }
  50%
  {
    transform: translateY(-150px) scaleX(5);
  }
  95%{
    opacity: 0;
  }
  100%
  {
    transform: translateY(-300px) scaleX(10);
  }
}


.plate::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to left, #f9f9f9, #e7e7e7);

}

.plate::after{
  content:'';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: radial-gradient(rgba(0, 0, 0, 0.2) 25%, transparent, transparent);
  border-radius: 50%;
}

button:hover{
    background-color: brown;
    cursor: pointer;
}

